@import '../../../index.scss';

div#drawer-form {
    position: fixed;
    display: block;
    z-index: 1100;
    background: transparent;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% - 25rem) 25rem;

    div#blur-area {
        display: block;
        height: 100%;
        width: 100%;
        background: transparent;
        backdrop-filter: blur(5px);
    }

    div#content {
        width: 100%;
        background: white;
        box-shadow: var(--primary-box-shadow);
        padding: 1.5rem;
    }

    @media screen and (width <=25rem) {
        grid-template-columns: auto;

        div#blur-area {
            display: none;
        }
    }
}