@import '../../index.scss';

div#table-outer-container {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: 5px !important;
    scrollbar-color: var(--primary-border) transparent !important;

    &::-webkit-scrollbar {
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--primary-border);
        border-radius: 9999px;

        &:hover {
            background: var(--primary-grey);
        }
    }

    table {
        thead th {
            background: var(--primary-bg);

            &:first-child {
                border-top-left-radius: .5rem;
            }

            &:last-child {
                border-top-right-radius: .5rem;
            }
        }

        tbody td.td-menu {
            position: static !important;

            button#menu-open:focus~div#menu-display {
                display: flex;
            }

            div#menu-display {
                display: none;
                flex-direction: column;

                button {
                    border-bottom: 1px solid var(--primary-border);
                    font-size: small;
                    font-weight: 500;
                    text-transform: capitalize;
                    color: var(--primary-black);
                    padding: .5rem 1.5rem;
                    background: transparent;
                    text-align: left;
                    transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;

                    &:hover {
                        color: var(--primary-blue);
                    }

                    &:last-child {
                        border: none !important;
                    }
                }

                &:hover {
                    display: flex;
                }
            }
        }
    }
}